@font-face {
  font-family: "Neutra-Regular";
  src: url("assets/fonts/Neutra2Display-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Neutra-Bold";
  src: url("assets/fonts/Neutra2Display-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Neutra-Titling";
  src: url("assets/fonts/Neutra2Display-Titling.otf") format("opentype");
}
@font-face {
  font-family: "Univers-Light";
  src: url("assets/fonts/Univers-Light.otf") format("opentype");
}
@font-face {
  font-family: "Univers-Bold";
  src: url("assets/fonts/Univers-Bold.otf") format("opentype");
}
