.page-footer {
  padding: 0 30px 24px;

  @media (min-width: $sm) {
    padding-bottom: 36px;
  }
  @media (min-width: $lg) {
    padding: 0 0 75px;
  }
}
.social-list {
  @include flexCenter();

  &__link {
    &--fb {
      padding-right: 17px;
    }
    &--lang {
      margin-left: auto;
    }
  }

  &__item {
    display: block;
    line-height: 0;
  }

  @media (min-width: $sm) {
    justify-content: flex-end;
    &__link {
      &--fb {
        padding-right: 24px;
        img {
          width: 22px;
          height: 40px;
        }
      }
      &--in {
        img {
          width: 36px;
          height: 36px;
        }
      }
      &--lang {
        display: none;
      }
    }
  }
}
