.page-header {
  display: none;

  @media (min-width: $sm) {
    display: block;
    padding-top: 64px;
  }
  @media (min-width: $sm) {
    padding-top: 64px;
  }
  @media (min-width: $sm) {
    padding-top: 72px;
  }
}
.page-nav {
  &__list {
    @include flexCenter();
  }
  &__item:last-child {
    line-height: 0;
  }
  &__link {
    display: inline-block;
    padding: 10px;
    color: $c-text;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $f-strong;

    &--lang {
      padding: 0 0 0 20px;
    }
  }

  @media (min-width: $sm) {
    &__list {
      justify-content: center;
    }
    &__link {
      font-size: 24px;
    }
  }
  @media (min-width: $lg) {
    margin-right: -70px;

    &__list {
      justify-content: flex-end;
    }
    &__item--active {
      border: 3px solid $c-main;
    }
  }
}
