.wrapper {
  min-height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  @media (min-width: $sm) {
    grid-template-rows: auto 1fr auto;
  }
  @media (min-width: $xlg) {
    grid-template-rows: 115px auto 115px;
    grid-template-areas: "header" "main" "footer";

    .page-header {
      grid-area: header;
    }
    .main-content {
      grid-area: main;
    }
    .page-footer {
      grid-area: footer;
    }
  }
}
