.landing {
  @include flexCenter();
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__title {
    font-family: $f-title;
    line-height: 0.73;
    font-size: 74px;
    text-align: center;
    color: #000;
    position: absolute;
  }
  &__box {
    width: 178px;
    height: 380px;
    border: 7px solid $c-main;
    @include flexCenter();
    flex-direction: column;
  }
  &__logo {
    position: relative;
    top: -50px;
  }
  &__subtitle {
    color: $c-main;
    font-family: $f-title;
    font-size: 16px;
    align-self: flex-start;
    margin-top: auto;
    padding-left: 12px;
    padding-bottom: 16px;
  }

  @media (min-width: $sm) {
    margin-top: 180px;
    justify-content: flex-start;

    &__title {
      font-size: 114px;
      top: 114px;
    }
    &__box {
      height: 456px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
  @media (min-width: $lg) {
    margin-top: 60px;
    align-items: flex-start;

    &__title {
      text-align: left;
      font-size: 140px;
    }
    &__box {
      margin-left: 107px;
      width: 195px;
      height: 506px;
    }
    &__subtitle {
      font-size: 24px;
      align-self: flex-end;
      padding-left: 0;
      margin-right: -147px;
    }
  }
  @media (min-width: $xlg) {
    position: relative;
    &__title {
      font-size: 225px;
    }
    &__box {
      width: 310px;
      height: 682px;
      margin-left: 172px;
      z-index: 10;
      // position: absolute;
      // top: 0;
      // left: 334px;
    }
    &__logo {
      display: inline-block;
      width: 111px;
      height: 187px;
      top: 229px;
    }
    &__subtitle {
      font-size: 26px;
      margin-right: -150px;
    }
  }
}

.index-over {
  position: relative;
  z-index: 100;
}
/*
.box {
  position: relative;
  z-index: 20;
}
.box--bottom {
  z-index: 1;
  top: -11px;
}

.animate-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2s linear forwards;
}
.animate-2 {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: dash 2s linear forwards;
  animation-delay: 1.1s;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
*/
